<a href="https://colab.research.google.com/github/cesarrivera52/Examen1/blob/main/Microretailer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#César Alejandro Rivera Guzmán  A01567012
#Examen progra
#Microretailer

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

from google.colab import files
files.upload()

In [33]:
datam=pd.read_excel('microretailer_mit_lift_lab.xlsx')

In [74]:
#Eliminar columnas innecesarias
datam1=datam.drop(["_record_id","_title","_server_updated_at","234_willingness_participate_workshop","_geometry","_latitude","_longitude","229_store_picture",],axis=1)

In [75]:
datam1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 98 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   _updated_by                                                 171 non-null    object
 1   228_store_name                                              171 non-null    object
 2   232_type_of_store                                           171 non-null    object
 3   108_does_the_micro_retailer_has_a_barred_window_            171 non-null    object
 4   99_does_the_micro_retailer_exhibits_products_outside_       171 non-null    object
 5   102_does_the_micro_retailer_sells_fresh_products_           171 non-null    object
 6   97_number_of_customers_in_store                             171 non-null    int64
 7   268_number_fridges                                          168 non-null    float64
 8   184_store_devices                                           171 non-null    object
 9   104_how_many_shelves_does_the_micro_retailer_have           171 non-null    int64
 10  pictures_of_shelves_if_possible                             19 non-null     object
 11  hola_somos_estudiantes_del_tec_de_monterrey_estamos_realiz  171 non-null    object
 12  le_comento_que_toda_esta_informacin_es_confidencial         171 non-null    object
 13  233_date_establishment                                      112 non-null    object
 14  2_current_permanent_employees                               111 non-null    float64
 15  4_number_permanent_employees_last_year                      95 non-null     float64
 16  5_change_store_space_last_year                              99 non-null     object
 17  6_change_employees_average_salary_last_year                 85 non-null     object
 18  20_reviews_finances_monthly                                 108 non-null    object
 19  49_inventory_records                                        110 non-null    object
 20  18_sales_records                                            110 non-null    object
 21  155_sales_registers_used_for                                6 non-null      object
 22  103_number_own_fridges                                      27 non-null     float64
 23  19_tax_id                                                   100 non-null    object
 24  145_number_direct_competitors                               103 non-null    float64
 25  310_burnout                                                 107 non-null    object
 26  24_burnout                                                  38 non-null     float64
 27  186_internet_connection                                     108 non-null    object
 28  210_sales_channels                                          82 non-null     object
 29  189_payment_methods                                         107 non-null    object
 30  28_prefered_payment_method                                  2 non-null      object
 31  31_different_prices_payment_method                          7 non-null      object
 32  269_cash_discount                                           2 non-null      object
 33  270_card_extra_charge                                       2 non-null      object
 34  271_card_fee                                                0 non-null      float64
 35  272_card_days_receive_money                                 44 non-null     float64
 36  273_platform_extra_charge                                   0 non-null      float64
 37  274_platform_fee                                            0 non-null      float64
 38  275_platform_days_receive_money                             0 non-null      float64
 39  30_payment_methods_large_purchases                          1 non-null      object
 40  214_customer_relationship_tools                             95 non-null     object
 41  33_credit_to_customers                                      107 non-null    object
 42  276_expected_days_informal_credit                           24 non-null     float64
 43  35_interest_rate                                            21 non-null     object
 44  36_credit_default_rate                                      14 non-null     float64
 45  38_average_margin_profits                                   66 non-null     object
 46  193_sales_planning_tools                                    82 non-null     object
 47  227_agreement_ecommerce_platforms                           98 non-null     object
 48  60_services                                                 77 non-null     object
 49  315_frequency_topups                                        10 non-null     float64
 50  316_frequency_utility_bills                                 2 non-null      float64
 51  317_home_deliveries                                         17 non-null     float64
 52  62_frequency_only_services                                  24 non-null     float64
 53  78_number_home_deliveries_week                              2 non-null      float64
 54  77_delivery_timeslots                                       2 non-null      object
 55  79_delivery_vehicle                                         2 non-null      object
 56  64_comission_services                                       23 non-null     object
 57  66_percentaje_services_income                               22 non-null     object
 58  69_why_not_services                                         41 non-null     object
 59  311_topups                                                  57 non-null     object
 60  312_payment_of_utilities                                    66 non-null     object
 61  313_home_deliveries                                         58 non-null     object
 62  314_reception_delivery_packages                             68 non-null     object
 63  42_willingness_share_inventory_data_suppliers               80 non-null     object
 64  44_willingness_inventory_management_suppliers               79 non-null     object
 65  45_willingness_reorder_suppliers                            77 non-null     object
 66  46_willingness_reorder_suppliers_variety                    74 non-null     object
 67  47_willingness_reorder_suppliers_lower_prices               69 non-null     object
 68  43_willingness_share_sales_data_suppliers                   70 non-null     object
 69  58_willingness_share_sales_data_mse                         68 non-null     object
 70  59_willingness_share_sales_data_mse_better_prices           68 non-null     object
 71  172_supplier_frequency                                      72 non-null     float64
 72  185_place_orders_suppliers                                  71 non-null     object
 73  53_special_conditions_suppliers                             47 non-null     object
 74  278_credit_interest                                         38 non-null     object
 75  192_procurement_planning_tools                              68 non-null     object
 76  277_payment_method_suppliers                                68 non-null     object
 77  56_procurement_changes_pandemic                             81 non-null     object
 78  279_changes_procurement_pandemic                            23 non-null     object
 79  157_frequency_organize_shelves                              96 non-null     object
 80  158_charact_organize_products_on_shelves                    92 non-null     object
 81  161_actions_stockouts                                       92 non-null     object
 82  162_inventory_extra_space                                   89 non-null     object
 83  163_number_high_perishable_products                         78 non-null     float64
 84  249_technology_training                                     73 non-null     object
 85  250_technology_investment_operations                        74 non-null     object
 86  251_technology_investment_customers                         73 non-null     object
 87  254_technology_roadmap                                      71 non-null     object
 88  260_technology_scalable                                     69 non-null     object
 89  261_technology_organization                                 69 non-null     object
 90  262_technology_serve_customers                              71 non-null     object
 91  263_technology_secure_sales                                 70 non-null     object
 92  264_technology_budget                                       70 non-null     object
 93  267_technology_investment_customer_preferences              70 non-null     object
 94  318_shopkeeper_name                                         48 non-null     object
 95  319_shopkeepers_last_name                                   46 non-null     object
 96  236_whatsapp                                                42 non-null     float64
 97  235_email                                                   29 non-null     object
dtypes: float64(21), int64(2), object(75)
memory usage: 131.0+ KB

In [88]:
#Lo que hacemos aqui es sustituir los valores núlos por la palabra Anónimo
datam1["319_shopkeepers_last_name"]=datam1["319_shopkeepers_last_name"].fillna("Anónimo")

In [77]:
#Lo que hacemos aqui es sustituir los valores núlos por la palabra Anónimo
datam1["318_shopkeeper_name"]=datam1["318_shopkeeper_name"].fillna("Anónimo")

In [78]:
#Lo que hacemos aqui es sustituir los valores núlos por la palabra Anónimo
datam1["235_email"]=datam1["235_email"].fillna("Anónimo")

In [79]:
#Lo que hacemos aqui es sustituir los valores núlos por la palabra Anónimo
datam1["236_whatsapp"]=datam1["236_whatsapp"].fillna("Anónimo")

In [80]:
#Lo que hacemos aqui es sustituir los valores núlos por el número 0
datam1["271_card_fee"]=datam1["271_card_fee"].fillna("0")

In [81]:
#Lo que hacemos aqui es sustituir los valores núlos por el número 0
datam1["273_platform_extra_charge"]=datam1["273_platform_extra_charge"].fillna("0")

In [82]:
#Lo que hacemos aqui es sustituir los valores núlos por el número 0
datam1["274_platform_fee"]=datam1["274_platform_fee"].fillna("0")

In [83]:
#Lo que hacemos aqui es sustituir los valores núlos por el número 0
datam1["275_platform_days_receive_money"]=datam1["275_platform_days_receive_money"].fillna("0")

In [93]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
fdatam_cual=fdatam_cual.fillna(method="bfill")

In [95]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
fdatam_cual=fdatam_cual.fillna(method="ffill")

In [97]:
#Identificar valores nulos por columna
valores_nulos=fdatam_cual.isnull().sum()
valores_nulos

_updated_by                                              0
228_store_name                                           0
232_type_of_store                                        0
108_does_the_micro_retailer_has_a_barred_window_         0
99_does_the_micro_retailer_exhibits_products_outside_    0
                                                        ..
234_willingness_participate_workshop                     0
318_shopkeeper_name                                      0
319_shopkeepers_last_name                                0
236_whatsapp                                             0
235_email                                                0
Length: 77, dtype: int64

In [103]:
#Filtro para separar variables cuantitativas
fdatam_cuan=datam1.iloc[:,[6,7,9,14,15,22,24,26,34,35,36,37,38,42,44,49,50,51,52,53,71,83]]

In [104]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=fdatam_cuan

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido 97_number_of_customers_in_store                       5.000
268_number_fridges                                    5.000
104_how_many_shelves_does_the_micro_retailer_have    16.000
2_current_permanent_employees                         3.500
4_number_permanent_employees_last_year                5.000
103_number_own_fridges                                6.250
145_number_direct_competitors                        11.000
24_burnout                                           14.125
272_card_days_receive_money                           1.000
276_expected_days_informal_credit                    42.375
36_credit_default_rate                                5.000
315_frequency_topups                                 16.000
316_frequency_utility_bills                          71.500
317_home_deliveries                                  23.500
62_frequency_only_services                           13.750
78_number_home_deliveries_week                        4.000
172_supplier_frequency                                9.125
163_number_high_perishable_products                  34.375
dtype: float64
Limite inferior permitido 97_number_of_customers_in_store                      -3.000
268_number_fridges                                   -3.000
104_how_many_shelves_does_the_micro_retailer_have    -8.000
2_current_permanent_employees                        -0.500
4_number_permanent_employees_last_year               -3.000
103_number_own_fridges                               -3.750
145_number_direct_competitors                        -5.000
24_burnout                                           -4.875
272_card_days_receive_money                           1.000
276_expected_days_informal_credit                   -20.625
36_credit_default_rate                               -3.000
315_frequency_topups                                 -8.000
316_frequency_utility_bills                         -14.500
317_home_deliveries                                 -12.500
62_frequency_only_services                           -8.250
78_number_home_deliveries_week                        0.000
172_supplier_frequency                               -3.875
163_number_high_perishable_products                 -20.625
dtype: float64

In [106]:
data3=fdatam_cuan[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  """Entry point for launching an IPython kernel.

,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,103_number_own_fridges,145_number_direct_competitors,24_burnout,271_card_fee,272_card_days_receive_money,...,275_platform_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,315_frequency_topups,316_frequency_utility_bills,317_home_deliveries,62_frequency_only_services,78_number_home_deliveries_week,172_supplier_frequency,163_number_high_perishable_products
0,2.0,0.0,4.0,2.0,2.0,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0.0,4.0,8.0,1.0,1.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,NaN,2.0,2.0,NaN,0.0,NaN,NaN,NaN,...,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,2.0,1.0,1.0,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0.0,0.0,16.0,0.0,0.0,NaN,0.0,NaN,NaN,1.0,...,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,1.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,1.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,1.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data3=data3.fillna(round(fdatam_cuan.median(),1))

In [108]:
#Identificar valores nulos por columna
valores_nulos=data3.isnull().sum()
valores_nulos

97_number_of_customers_in_store                      0
268_number_fridges                                   0
104_how_many_shelves_does_the_micro_retailer_have    0
2_current_permanent_employees                        0
4_number_permanent_employees_last_year               0
103_number_own_fridges                               0
145_number_direct_competitors                        0
24_burnout                                           0
271_card_fee                                         0
272_card_days_receive_money                          0
273_platform_extra_charge                            0
274_platform_fee                                     0
275_platform_days_receive_money                      0
276_expected_days_informal_credit                    0
36_credit_default_rate                               0
315_frequency_topups                                 0
316_frequency_utility_bills                          0
317_home_deliveries                                  0
62_frequency_only_services                           0
78_number_home_deliveries_week                       0
172_supplier_frequency                               0
163_number_high_perishable_products                  0
dtype: int64